body{
    background: url('https://i.pinimg.com/originals/c1/f1/a6/c1f1a67d15b620f5e18a48c7b2c90caf.gif') ;
    background-size: 100%;
}

nav{
    background: url('https://i.pinimg.com/originals/4a/ff/1a/4aff1a270e2c0d3bb795e9d323e2765f.gif') ;
    background-size: 100%;
}

